@model IEnumerable<WebAppDB.Models.Leaderboard>

@{
    ViewData["Title"] = "Index";
}

<h1>Leaderboards</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    <a asp-action="ShowRanking" asp-route-id="@item.BoardId">Show Ranking</a>
                </td>
            </tr>
        }
    </tbody>
</table>